##############
### Settings ###
################

[general]
# General:enabled_plugins
# Choose which outputs to use
# Possible options: MysqlOutput,PostgreSQLOutput,PVoutputOutput,ConsoleOutput,CSVOutput,CSVOutput2File,DomoticzOutput,MQTTOutput
enabled_plugins = PVoutputOutput, DomoticzOutput

# choose one of these
# use temperature of inverter for output to pvoutput/mqtt
use_temperature = true
# do not use temperature of inverter for output to pvoutput/mqtt
#use_temperature = false

# Minimum Temperature for exporting. (a max. of 300 degrees is hardcoded)
# Set to -32768 to always sent the temperature value.
# Or set to a value so that the inverter internal temperature is only exported if equal or above this value.
min_temp = 5

# Minimum Voltage of any sensor for exporting.
# Set to 0 to always sent the sensor's voltage value.
# Or set to a value so that the sensor voltage data is only exported if equal or above this value.
min_voltage = 0

# Minimum grid Frequency for exporting.
# Set to 0 to always sent the sensor's frequency value.
# Or set to a value so that the grid Frequency is only exported if equal or above this value.
min_freq = 30

[server]
# InverterServer parameters
listen_address = 192.168.2.220
listen_port = 8899

[logger]
# ip,sn,ip,sn,ip,sn or auto
# IP address of your inverter(s) data logger and S/N of the wifi kit(s)
  gateways = 192.168.2.220,606911786
# Automatically detect logger(s) on the local network
# gateways = auto
# Default for the Wifi module/logger/gateway
port = 8899
# time to wait for inverter logger response
timeout = 3

### repeat this for every inverter ID that must be logged to pvoutput
### The apikey(s) and sysid(s) can be found at http://pvoutput.org/account.jsp
[pvout]
#use apikey-<inverter serial> in the apikey name
apikey-NLDN302014344068 = e5541f22d0d3286cd3824e5f9b20cd65a6a236a5
#use sysid-<inverter serial> in the sysid name
sysid-NLDN302014344068 = 34263

### use domoticz-<INVERTER SERIAL> as section name
### repeat this section for every inverter ID that must be logged to domoticz
### Replace 'idx' with the Idx number of the corresponding virtual sensor device as defined in domoticz
### comment out values which can or must be skipped
[domoticz-NLDN302014344068]
host = 192.168.2.229
port = 8080
path = /json.htm
# Replace 'idx' with the Idx number of the corresponding virtual sensor device as defined in domoticz
Electric_meter_idx         = 8
# comment out below values which are not needed
Temp_idx                   = 17
E_today_idx                = 19
E_total_idx                = 20
E_total_c_idx              = 21
H_total_idx                = 18
### DC input
PV1_voltage_idx            = 9
PV1_current_idx            = 11
#use below when you have multiple PVs on your inverter
PV2_voltage_idx            = 10
PV2_current_idx            = 12
#PV3_voltage_idx            = idx
#PV3_current_idx            = idx
#PV123_voltage_idx          = idx
#PV123_current_idx          = idx
### AC output
AC1_voltage_idx            = 13
AC1_current_idx            = 14
AC1_power_idx              = 15
AC1_frequency_idx          = 16
#use below when you have a 3-phase inverter
#AC2_voltage_idx            = idx
#AC2_current_idx            = idx
#AC2_power_idx              = idx
#AC2_frequency_idx          = idx
#AC3_voltage_idx            = idx
#AC3_current_idx            = idx
#AC3_power_idx              = idx
#AC3_frequency_idx          = idx
#AC123_voltage_idx          = idx
#AC123_current_idx          = idx
#AC123_power_idx            = idx

[mysql]
# Host where the mysql server is active
host = 127.0.0.1
user =
pass =
database =

[postgresql]
connstr = host=10.0.0.1 dbname=inverter user=inverter password=example

[mqtt]
# Host where the mqtt server is, including user/pass authentication
host = 127.0.0.1
port = 1883
user = username
pass = password
topic = omnik/solar

[csv]
daily_file = false
disable_header = false
csv_file_name = filename.csv

[log]
# Log:Output
# Possible options: none,console,file (combinations are possible)
# Use none to disable logging
type = console

# Log:level
# Possible options: critical, error, warning, info, debug, notset
level = debug

# Log:filename
# Output file for file logger
filename = inverter-export.log

